{%extends 'base.html'%} {%block content%}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Create Customer</div>
        <form action="{{url_for('saveCustomer')}}" method="POST">
          <div class="card-body">
            <div class="box box-primary">
              <div class="box-header with-heading">
                <h3 class="box-title">Common</h3>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>First name</label>
                      <input
                        type="text"
                        name="first_name"
                        class="form-control"
                        value=""
                        id="first_name"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Last Name</label>
                      <input
                        type="text"
                        name="last_name"
                        class="form-control"
                        value=""
                        id="last_name"
                      />
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Email</label>
                  <input
                    type="text"
                    name="email"
                    class="form-control"
                    value=""
                    id="email"
                  />
                </div>
              </div>
            </div>
            <div class="box box-primary">
              <div class="box-header with-heading">
                <h3 class="box-title">Billing Address</h3>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Company</label>
                      <input
                        type="text"
                        name="company"
                        class="form-control"
                        value=""
                        id="company"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Phone</label>
                      <input
                        type="text"
                        name="phone"
                        class="form-control"
                        value=""
                        id="phone"
                      />
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <input
                    type="text"
                    name=""
                    class="form-control"
                    id="searchInput"
                    placeholder="input the location"
                  />
                  <div
                    id="map"
                    style="width: 750px; height: 500px,display: none"
                  ></div>

                  <input
                    type="text"
                    hidden=""
                    name="location"
                    id="location"
                    value="Nepal"
                  />
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Country</label>
                      <input
                        type="text"
                        name="country"
                        class="form-control"
                        id="country"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Address1*</label>
                      <input
                        type="text"
                        name="address1"
                        class="form-control"
                        id="address1"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Address2</label>
                      <input
                        type="text"
                        name="address2"
                        class="form-control"
                        id="address2"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">City*</label>
                      <input
                        type="text"
                        name="city"
                        class="form-control"
                        id="city"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">State/Country*</label>
                      <input
                        type="text"
                        name="state"
                        class="form-control"
                        id="state"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Post Code</label>
                      <input
                        type="text"
                        name="post_code"
                        class="form-control"
                        id="postcode"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label
                        ><input
                          type="checkbox"
                          name="is_wholesale"
                          value="1"
                          id="is_wholesale"
                        />is wholesale</label
                      ><br />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <input
                      type="submit"
                      value="Save"
                      class="btn btn-success saveCustomer"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjQbpLmWtP5SBJQ6RWzplfIg0Sd0rpDYg&libraries=places&sensor=true"></script>
<script>
  function initialize() {
    var latlng = new google.maps.LatLng(27.732323, 85.326601);
    var map = new google.maps.Map(document.getElementById("map"), {
      center: latlng,
      zoom: 13,
    });
    var marker = new google.maps.Marker({
      map: map,
      position: latlng,
      draggable: true,
      anchorPoint: new google.maps.Point(0, -29),
    });
    var input = document.getElementById("searchInput");
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
    var geocoder = new google.maps.Geocoder();
    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.bindTo("bounds", map);
    var infowindow = new google.maps.InfoWindow();
    autocomplete.addListener("place_changed", function () {
      infowindow.close();
      marker.setVisible(false);
      var place = autocomplete.getPlace();
      console.log(place.address_components);
      console.log(place.address_components.at(-2));
      var reserved = 4;
      address_place =
        parseInt(place.address_components.length) - parseInt(reserved);
      combined_address = "";
      for (i = 0; i < address_place; i++) {
        combined_address += place.address_components[i].long_name + ", ";
      }
      console.log("combined", combined_address.slice(0, -2));

      if (!place.geometry) {
        window.alert("Autocomplete's returned place contains no geometry");
        return;
      }

      // If the place has a geometry, then present it on a map.
      if (place.geometry.viewport) {
        map.fitBounds(place.geometry.viewport);
      } else {
        map.setCenter(place.geometry.location);
        map.setZoom(17);
      }

      marker.setPosition(place.geometry.location);
      marker.setVisible(true);

      bindDataToForm(
        place.formatted_address,
        place.geometry.location.lat(),
        place.geometry.location.lng(),

        place.address_components.at(-2),
        place.address_components.at(-3),
        place.address_components.at(-4),

        place.address_components.at(-1),
        combined_address
      );
      infowindow.setContent(place.formatted_address);
    });
  }
  function bindDataToForm(
    address,
    lat,
    lng,
    country,
    state,
    city,
    postal_code,
    combined_address
  ) {
    document.getElementById("location").value = address;
    document.getElementById("country").value = country.long_name;
    document.getElementById("address1").value = combined_address.slice(0, -2);
    document.getElementById("city").value = city.long_name;
    document.getElementById("state").value = state.long_name;
    document.getElementById("post_code").value = postal_code.long_name;
  }
  google.maps.event.addDomListener(window, "load", initialize);
</script>
{%endblock content%}
