{% extends './base.html' %} {% block title %}List Customer{% endblock title %} {% block body %}
<div class="flex flex-row justify-between py-2">
	<nav aria-label="Page navigation example">
		<ul class="inline-flex items-center -space-x-px">
			{% if customers.has_prev %}
			<li>
				<a href="{{ url_for('listSale', page=customers.prev_num, per_page=customers.per_page) }}" class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg">
					<span class="sr-only">Previous</span>
					<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
				</a>
			</li>
			{% endif %} {% for page_num in customers.iter_pages() %} {% if page_num %} {% if customers.page == page_num %}
			<li>
				<a href="" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{ page_num }}</a>
			</li>
			{% else %}
			<li>
				<a href="{{ url_for('listSale', page=page_num, per_page=customers.per_page) }}" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{page_num}}</a>
			</li>
			{% endif %} {% else %}
			<li class="page-item disabled"><a class="page-link">...</a></li>
			{% endif %} {% endfor %} {% if customers.has_next %}

			<li>
				<a href="{{ url_for('listSale', page=customers.next_num, per_page=customers.per_page) }}" class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700">
					<span class="sr-only">Next</span>
					<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
				</a>
			</li>
			{% endif %}
		</ul>
	</nav>
	<a href="/create-customer"><button type="button" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200">Create Customer</button></a>
</div>

<div class="relative shadow-lg sm:rounded-lg py-2 px-3 shadow-xl">
	<table class="min-w-full divide-y divide-gray-200">
		<thead>
			<tr>
				<th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-800 uppercase tracking-wider"><input type="checkbox" class="appearance-none checked:bg-blue-500 mx-2 rounded text-center" /> <span>Order</span></th>

				<th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-800 uppercase text-center tracking-wider">FirstName</th>
				<th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-800 uppercase text-center tracking-wider">Email</th>
				<th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-800 uppercase text-center tracking-wider">Added Date</th>
				<th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-800 uppercase text-center tracking-wider">Phone</th>
				<th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-800 uppercase text-center tracking-wider">Action</th>
				<!-- Add more table headers as needed -->
			</tr>
		</thead>
		<tbody class="bg-white divide-y divide-gray-200">
			{%for customer in customers%}
			<tr class="px-6 py-4 h-[80px]">
				<td class="px-6 whitespace-nowrap">
					<input type="checkbox" class="appearance-none checked:bg-blue-500 mx-2 rounded text-center" />
					<span>{{customer.id}}</span>
				</td>
				<td class="text-center">{{customer.first_name}} {{customer.last_name}}</td>
				<td class="text-center">{{customer.email}}</td>
				<td class="text-center">{{customer.added_date}}</td>
				<td class="text-center">{{customer.phone}}</td>

				<td class="text-center flex mt-6 justify-center items-center">
					<a href="/update-customer/{{customer.id}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline mx-2"
						><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" id="edit">
							<path fill="none" d="M0 0h24v24H0V0z"></path>
							<path d="M3 17.46v3.04c0 .28.22.5.5.5h3.04c.13 0 .26-.05.35-.15L17.81 9.94l-3.75-3.75L3.15 17.1c-.1.1-.15.22-.15.36zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"></path></svg
					></a>
					<a href="/delete-customer/{{customer.id}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline mx-2"
						><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" id="delete">
							<path fill="none" d="M0 0h24v24H0V0z"></path>
							<path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v10zm3.17-7.83c.39-.39 1.02-.39 1.41 0L12 12.59l1.42-1.42c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41L13.41 14l1.42 1.42c.39.39.39 1.02 0 1.41-.39.39-1.02.39-1.41 0L12 15.41l-1.42 1.42c-.39.39-1.02.39-1.41 0-.39-.39-.39-1.02 0-1.41L10.59 14l-1.42-1.42c-.39-.38-.39-1.02 0-1.41zM15.5 4l-.71-.71c-.18-.18-.44-.29-.7-.29H9.91c-.26 0-.52.11-.7.29L8.5 4H6c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1h-2.5z"></path></svg
					></a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock body %}
