{% extends './base.html' %} {% block title %}View Order {% endblock title %} {% block body %}

<div class="w-full border-0 flex-col p-2">
	<div class="h-[50px] text-gray-900">
		<h1 class="text-xl font-bold text-gray-700 px-4 py-4">Order for: {{customer.first_name}} {{customer.last_name}}</h1>
		
	</div>

	<!--for making order-->

	<div class="mt-4 bg-white md:w-auto sm:w-full relative border-b-2 text-gray-900 rounded-lg overflow-hidden">
		<form action="#" method="">

			<div class="overflow-x-auto overflow-hidden">
				<table class="table-auto border rounded border-gray-200 w-full my-2 mx-auto" id="order_table">
					<thead>
						<tr>
							<th class="w-1 px-6 py-3 bg-gray-300 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">SN</th>
							<th class="w-64 px-6 py-3 bg-gray-300 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Item</th>
							<th class="w-80 px-6 py-3 bg-gray-300 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Description</th>
							<th class="w-22 px-6 py-3 bg-gray-300 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Quantity</th>
							<th class="px-6 py-3 bg-gray-300 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Unit Price</th>
							<th class="px-6 py-3 bg-gray-300 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Discount</th>
							<th class="px-6 py-3 bg-gray-300 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Amount</th>
						</tr>
					</thead>
					<tbody class="bg-white divide-y divide-gray-200" id="orderTable">
						{% for order,orderDetail in orders %}
						<tr class="h-2" id="defaultRow">
							<td class="px-6 w-1 py-4 whitespace-nowrap">{{ loop.index }}</td>
							<td class="px-6 w-64 py-4 whitespace-nowrap sm:w-32">
								<input type="text" class="border-0" value="{{orderDetail.product_code}}">
							</td>

							<td class="px-6 py-4 whitespace-nowrap" id="descriptionCell">
								<input name="item_desc_1" id="item_desc_1" disabled value="{{orderDetail.product_description}}" />
							</td>

							<td class="px-6 py-4 whitespace-nowrap">
								<input type="number" class="quantity-input w-20 text-gray-900 bg-white rounded-lg border-none" name="item_quantity_1" id="item_quantity_1" onchange="calculateItemTotal(this.name)" value="{{orderDetail.item_quantity}}" />
							</td>
							<td class="px-6 py-4 whitespace-nowrap">
								<input type="text" class="quantity-input text-gray-900 bg-white rounded-lg w-20 border-none" name="unit_price_1" id="unit_price_1" disabled value="{{orderDetail.unit_price}}" />
							</td>
							<td class="px-6 py-4 whitespace-nowrap">
								{% if orderDetail.discount_type =='percentage' %} 
									{{orderDetail.discount_value}} %
								{% else %}
									$ {{orderDetail.discount_value}}
								{% endif %}
							</td>
							<td class="px-6 py-4 whitespace-nowrap">
								<span class="ml-2">$</span>
								<input type="number" class="amount-input rounded-lg text-gray-900 bg-white w-28 border-none" min="0" name="sub_total_1" id="sub_total_1" disabled value="{{orderDetail.subtotal_amount}}" />
							</td>
						</tr>
						{%endfor%}
					</tbody>
				</table>

				<div class="float-right">
					<div>
						<table class="mr-28">
							<tr>
								<td>
									<span class="font-semibold">Subtotal </span>
								</td>
								<td>
									<span>$</span>
									<span>
										<input disabled type="text" class="w-24 text-gray-900 bg-white rounded-lg border-none" id="grand_total" name="grand_total" value="{{orders[0][0].gross_cost}}" />
										<input type="hidden" id="grand_total_hidden" name="grand_total_hidden" />
									</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="font-semibold mt-2">Discount &nbsp;</span>
								</td>
								<td>
									
										{% if orders[0][0].discount_type=="percentage" %}
										<span>&nbsp;&nbsp;</span>
										<span>
											<input type="text" name="ship_total" class="w-16 text-gray-900 bg-white rounded-lg mb-2 h-[35px] border-none" id="ship_total" onchange="{calculate_subtotal_discount()}" value="{{orders[0][0].discount_value}}" disabled /> %
										</span>
										{% else %}
										<span>$</span>
										<span>
											<input type="text" name="ship_total" class="w-24 text-gray-900 bg-white rounded-lg mb-2 h-[35px] border-none" id="ship_total" onchange="{calculate_subtotal_discount()}" value="{{orders[0][0].discount_value}}" disabled />
										</span>
										{% endif %}
									</td>
							</tr>
							<tr>
								<td>
									<span class="font-semibold">Shipping</span>
								</td>
								<td>
									
									<span>$</span>
									<span>
										<input type="text" name="ship_total" class="w-24 text-gray-900 bg-white rounded-lg mb-2 h-[35px] border-none" id="ship_total" onchange="{calculate_subtotal_discount()}" value="{{orders[0][0].shipping_cost}}" disabled />
									</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="font-semibold">Net Total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
								</td>
								<td>
									
									<span>$</span>
									<span>
									<input type="text" disabled name="net_total" class="w-24 text-gray-900 bg-white rounded-lg border-none" id="net_total" value="{{orders[0][0].total_amount}}" />
									<input type="hidden" name="net_total_hidden" id="net_total_hidden" />
								</span>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<input type="hidden" style="display: none" name="item_counter" id="item_counter" value="1" />
			<input type="hidden" style="display: none" name="item_counter_list" id="item_counter_list" value="1" />
			<!-- <div class="flex justify-end">
				<input type="submit" class="w-32 h-[50px] text-center rounded bg-green-500 text-white" />
			</div> -->
		</form>
	</div>
</div>

{% endblock %}
