<div class="w-[300px] h-[30px] bg-white text-black">
	<div class="p-3 bg-white rounded-lg">

		<h5 class="card-title text-sm font-semibold" id="customer_name">{{bill_to.first_name}} {{bill_to.last_name}}</h5>
		<p class="card-text">{{ bill_to.company }}</p>
		<p class="card-text">{{ bill_to_address}}</p>
		
		{% if bill_to.city %}
		<p class="card-text">{{ bill_to.city }}, {{ bill_to.state_country }} {{ bill_to.postcode }}</p>
		{% endif %}

		{% if bill_to.country !="United States" %}
		<p class="card-text" id="country">{{ bill_to.country }}</p>
		{% endif %} 
		<p class="card-text" hidden id="country">{{ bill_to.country }}</p>
		<p class="card-text" hidden id="city">{{ bill_to.city }}</p>
		<p class="card-text" hidden id="postcode">{{ bill_to.postcode }}</p>
		<p class="card-text" hidden id="customer_id">{{ bill_to.id }}</p>
		<p class="card-text" hidden id="contact">{{ bill_to.contact }}</p>
		<p class="card-text" hidden id="address1">{{ bill_to.address1 }}</p>
		<p class="card-text" hidden id="address2">{{ bill_to.address2 }}</p>
		<p class="card-text" hidden id="state_country">{{ bill_to.state_country }}</p>
		<p class="card-text" hidden id="phone">{{ bill_to.phone }}</p>
	</div>
</div>
