<div class="w-[300px] h-[30px] bg-white text-black">
	<div class="p-3 bg-white border border-gray-200 rounded-lg shadow">
		<a href="#">
			<h5 class="mb-2 text-xl font-semibold tracking-tight text-gray-900">{{ ship_to.contact }}</h5>
		</a>
		<h5 class="card-title text-sm"></h5>
		<p class="card-text">{{ ship_to.phone_number }}</p>
		<p class="card-text">{{ ship_to.name }}</p>
		<p class="card-text">{{ ship_to.address_1 }}</p>
		<p class="card-text">{{ ship_to.city }} {{ ship_to.state }} {{ ship_to.postal_code }}</p>
		<p class="card-text">{{ ship_to.country }}</p>
	</div>
</div>
