<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}Order System{% endblock title %}</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<!-- <link href="https://cdn.tailwindcss.com/2.2.19/tailwind.min.css" rel="stylesheet" /> -->

		<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />

		<link href="https://cdn.jsdelivr.net/npm/select2@latest/dist/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/select2@latest/dist/js/select2.min.js"></script>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
		{% block css_block %}
		{% endblock css_block %}
	</head>
	<body class="">
		{% block body %}{% endblock body %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
	</body>
</html>
