{% extends './base.html' %} {% block title %}Create Order {% endblock title %} {% block css_block %}
<style type="text/css">
	.custom-select + .select2-container .select2-selection--single {
		height: 2.2rem; /* Adjust the height value as needed */
	}

	.custom-select + .select2-container .select2-selection__arrow {
		height: 2.2rem; /* Adjust the height value as needed */
	}
</style>
{% endblock css_block %} {% block body %} {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
<div id="toast-success" class="flex float-right items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow" role="alert">
	<div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg">
		<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
			<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
		</svg>
		<span class="sr-only">Check icon</span>
	</div>
	<div class="ml-3 text-sm font-normal">{{message}}</div>
	<button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8" data-dismiss-target="#toast-success" aria-label="Close">
		<span class="sr-only">Close</span>
		<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
			<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
		</svg>
	</button>
</div>
{% endfor %} {% endif %} {% endwith %}

<div class="w-full flex flex-col p-2">
	<div class="h-[70px] border-b-4 border-gray-500 text-gray-900 shadow-xl rounded-lg" id="otherdiv">
		<!-- <h1 class="text-xl font-bold text-gray-700 px-4 py-4">Choose Customer</h1> -->
		<div class="flex justify-between items-center w-[100%]">
			<div class="flex px-4 w-[30%]">
				<select data-te-select-init data-te-select-filter="true" class="rounded w-[350px] px-4 select2-js custom-select" id="current_customer" name="current_customer" onchange="handleCustomer(value)">
					<option value="0">Select a Customer</option>
					{% for customer in customers %}
					<option value="{{customer.id}}">{{customer.first_name}} {{customer.last_name}}</option>
					{%endfor%}
				</select>
				<button data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="mx-2 text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center inline-flex items-center" type="button" id="">+</button>
			</div>
			<div class="w-[70%] flex mx-8 pt-4">
				<div class="ml-16 mr-[140px]">
					<h5 class="text-[18px] tracking-tight text-gray-700">Bill To:<input class="bg-none px-2" id="bill_to_name" disabled /></h5>
					<div id="bill_to" class="hidden"></div>
				</div>

				<div class="mb-5 mr-5 rounded mx-16">
					<select class="text-gray-700 w-[300px] font-medium rounded-lg text-sm px-5 text-center sm:h-8 md:h-[40px] mx-4 select2-js custom-select" onchange="showShipTo(this.value)" name="ship_to" title="Select Shipping Address" id="ship_to_" required>
						<option value="0">Select Shipping Address..</option>
						<option value="{{ shipTo.id }}">{{ shipTo.name }}</option>
					</select>

					<div id="ship_to" class="hidden"></div>
				</div>
			</div>
			<div>
				<button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-4 text-center inline-flex items-center" type="button">
					<svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
					</svg>
				</button>
			</div>
		</div>
	</div>

	<div id="defaultModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
		<div class="relative w-full max-h-full">
			<div class="relative bg-white rounded-lg shadow">
				<div class="flex items-start justify-between p-4 border-b rounded-t">
					<h3 class="text-xl font-semibold text-gray-900">Create Customer</h3>
					<button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="defaultModal" id="modal-backdrop">
						<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
						</svg>
						<span class="sr-only">Close modal</span>
					</button>
				</div>

				<div class="px-64 py-16">
					<div class="grid md:grid-cols-2 md:gap-6">
						<div class="relative z-0 w-full mb-6 group">
							<input type="text" name="first_name" id="floating_first_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
							<label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-800 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First name</label>
						</div>
						<div class="relative z-0 w-full mb-6 group">
							<input type="text" name="last_name" id="floating_last_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
							<label for="floating_last_name" class="peer-focus:font-medium absolute text-sm text-gray-800 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last name</label>
						</div>
					</div>
					<div class="grid md:grid-cols-2 md:gap-6">
						<div class="relative z-0 w-full mb-6 group">
							<input type="email" name="email" id="email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
							<label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-800 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
						</div>
						<div class="relative z-0 w-full mb-6 group">
							<input type="text" name="company" id="company" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
							<label for="floating_last_name" class="peer-focus:font-medium absolute text-sm text-gray-800 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Company</label>
						</div>
					</div>
					<div class="grid md:grid-cols-2 md:gap-6">
						<div class="relative z-0 w-full mb-6 group">
							<input type="text" name="phone" id="floating_phone" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
							<label for="floating_phone" class="peer-focus:font-medium absolute text-sm text-gray-800 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Phone number</label>
						</div>
						<div class="relative z-0 w-full mb-6 group">
							<input type="text" name="country" id="country" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
							<label for="floating_company" class="peer-focus:font-medium absolute text-sm text-gray-800 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Country</label>
						</div>
					</div>
					<div class="relative z-0 w-full mb-6 group">
						<input type="text" name="location" id="locationInput" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
						<label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-800 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Input Location</label>
					</div>
					<div class="relative z-0 w-full mb-6 group">
						<input type="text" name="address1" id="address" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
						<label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-800 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Address1</label>
					</div>
					<div class="grid md:grid-cols-2 md:gap-6">
						<div class="relative z-0 w-full mb-6 group">
							<input type="text" name="address2" id="address" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
							<label for="floating_phone" class="peer-focus:font-medium absolute text-sm text-gray-800 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Address2</label>
						</div>
						<div class="relative z-0 w-full mb-6 group">
							<input type="text" name="state" id="state" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
							<label for="floating_company" class="peer-focus:font-medium absolute text-sm text-gray-800 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">State</label>
						</div>
					</div>
					<div class="grid md:grid-cols-2 md:gap-6">
						<div class="relative z-0 w-full mb-6 group">
							<input type="text" name="postcode" id="postalCode" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
							<label for="floating_phone" class="peer-focus:font-medium absolute text-sm text-gray-800 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Postal Code</label>
						</div>
						<div class="relative z-0 w-full mb-6 group">
							<input type="text" name="city" id="city" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
							<label for="floating_company" class="peer-focus:font-medium absolute text-sm text-gray-800 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">City</label>
						</div>
					</div>

					<div class="flex items-center mb-4">
						<input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" />
						<label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900">Is Wholesale</label>
					</div>
					<div class="flex justify-center my-6">
						<button class="w-64 h-[60px] py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200" id="add_customer_btn">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--for making order-->

	<div class="mt-4 bg-white md:w-auto sm:w-full relative border-b-2 text-gray-900 shadow-xl rounded-lg min-h-[320px]">
		<form action="{{url_for('createOrder')}}" method="POST">
			<input type="hidden" id="current_customer_hidden" name="current_customer_hidden" value="" />
			<input type="hidden" id="ship_to_hidden" name="ship_to_hidden" value="" />

			<div class="text-xl font-bold text-gray-700 px-4 py-4 overflow-x-auto">Create Order</div>
			<div class="overflow-x-auto">
				<table class="table-auto border rounded border-gray-200 w-full my-2 mx-auto" id="order_table">
					<thead>
						<tr>
							<th class="w-1 px-6 py-3 bg-gray-300 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">SN</th>
							<th class="w-64 px-6 py-3 bg-gray-300 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Item</th>
							<th class="w-80 px-6 py-3 bg-gray-300 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Description</th>
							<th class="w-22 px-6 py-3 bg-gray-300 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Quantity</th>
							<th class="px-6 py-3 bg-gray-300 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Unit Price</th>
							<th class="px-6 py-3 bg-gray-300 text-left text-xs font-medium text-gray-900 uppercase tracking-wider"></th>
							<th class="px-6 py-3 bg-gray-300 text-left text-xs font-medium text-gray-900 uppercase tracking-wider"></th>
							<th class="px-6 py-3 bg-gray-300 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Amount</th>
							<th class="px-6 py-3 bg-gray-300 text-center text-xs font-medium text-gray-900 uppercase tracking-wider">Actions</th>
						</tr>
					</thead>
					<tbody class="bg-white divide-y divide-gray-200" id="orderTable">
						<tr class="h-2" id="defaultRow">
							<td class="px-6 w-1 py-4 whitespace-nowrap">1</td>
							<td class="px-6 w-64 py-4 whitespace-nowrap sm:w-32">
								<select id="product_1" class="product-select bg-white border-lg text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 select2-js custom-select" data-live-search="true" name="product_1" onchange="populateItemDetails(this.value,this.name)" title="Select Product" required>
									<option value="0">Select a Product</option>
									{% for product in products %}
									<option value="{{ product.id }}">{{product.name}}</option>
									{% endfor %}
								</select>
								<input type="hidden" name="product_code_hidden_1" id="product_code_hidden_1" value="" />
							</td>

							<td class="px-6 py-4 whitespace-nowrap" id="descriptionCell">
								<input name="item_desc_1" id="item_desc_1" disabled />
								<input type="hidden" name="item_desc_hidden_1" id="item_desc_hidden_1" />
							</td>

							<td class="px-6 py-4 whitespace-nowrap">
								<input type="number" class="quantity-input w-20 text-gray-900 bg-white rounded-lg border-none" min="1" value="0" name="item_quantity_1" id="item_quantity_1" onchange="calculateItemTotal(this.name)" />
							</td>
							<td class="px-6 py-4 whitespace-nowrap">
								<input type="text" class="quantity-input text-gray-900 bg-white rounded-lg w-20 border-none" name="unit_price_1" id="unit_price_1" disabled />
								<input type="hidden" name="unit_price_hidden_1" id="unit_price_hidden_1" />
							</td>
							<td class="px-6 py-4 whitespace-nowrap">
								<select class="discount-type-select bg-white border-lg text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-16 p-2.5 border-none" name="discount_type_1" id="discount_type_1" onchange="calculateItemTotal(this.name)">
									<option value="percentage">%</option>
									<option value="amount">$</option>
								</select>
							</td>
							<td class="px-6 py-4 whitespace-nowrap">
								<input type="number" class="discount-input w-20 text-gray-900 bg-white rounded-lg border-none" min="0" value="0" name="discount_val_1" id="discount_val_1" oninput="calculateItemTotal(this.name)" />
							</td>
							<td class="px-6 py-4 whitespace-nowrap">
								<span class="ml-2">$</span>
								<input type="number" class="amount-input rounded-lg text-gray-900 bg-white w-28 border-none" min="0" value="" name="sub_total_1" id="sub_total_1" disabled />
								<input type="hidden" value="" name="sub_total_hidden_1" id="sub_total_hidden_1" />
							</td>
						</tr>
					</tbody>
				</table>

				<div class="px-2 h-[165px] flex justify-between">
					<button class="px-2 w-[50px] h-[40px] rounded-xl bg-yellow-600 text-white" id="insertRow">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-white-900">
							<path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
						</svg>
					</button>

					<div class="flex flex-col justify-between mr-[130px]">
						<div class="ml-[106px]">
							<span class="font-semibold">Subtotal</span><span class="ml-3">$</span>
							<span class="ml-[6px]">
								<input disabled type="text" class="w-24 text-gray-900 bg-white rounded-lg border-none" id="grand_total" name="grand_total" />
								<input type="hidden" id="grand_total_hidden" name="grand_total_hidden" />
							</span>
						</div>
						<div class="flex">
							<div class="flex gap-x-6">
								<select class="discount-type-select bg-white border-lg text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-16 border-none px-2" name="discount_type_total" id="discount_type_total" onchange="calculate_subtotal_discount()">
									<option value="percentage">%</option>
									<option value="amount">$</option>
								</select>
								<input type="number" name="discount_val_total" class="rounded w-16 border-none" value="0" onchange="calculate_subtotal_discount()" id="discount_val_total" />
								<span class="my-2 ml-1">$</span>
								<input type="text" id="grand_discount" class="w-24 text-gray-900 bg-white rounded-lg border-none -ml-3" disabled />
								<input type="hidden" id="grand_discount_hidden" name="grand_discount_hidden" />
							</div>
						</div>
						<div class="flex ml-[100px]">
							<span class="font-semibold mt-2">Shipping</span>
							<span class="ml-[15px] mr-[11px] mt-2">$</span>
							<span class="mr-[5px]">
								<input type="text" name="ship_total" class="w-24 text-gray-900 bg-white border-b-2 border-t-0 border-l-0 border-r-0 rounded-sm mb-2 h-[35px]" id="ship_total" onchange="calculate_subtotal_discount()" />
							</span>
						</div>
						<div class="border-t ml">
							<span class="font-semibold ml-[102px]">Net Total</span>
							<span class="ml-[7px]">$</span>
							<span class="ml-[6px]">
								<input type="text" disabled name="net_total" class="w-24 text-gray-900 bg-white rounded-lg border-none" id="net_total" />
								<input type="hidden" name="net_total_hidden" id="net_total_hidden" />
							</span>
						</div>
					</div>
				</div>
			</div>
			<input type="hidden" style="display: none" name="item_counter" id="item_counter" value="1" />
			<input type="hidden" style="display: none" name="item_counter_list" id="item_counter_list" value="1" />

			<div class="flex justify-end mb-5 mr-5">
				<input type="submit" class="w-32 h-[50px] text-center rounded bg-green-500 text-white" onclick="validateForm(event)" />
			</div>
		</form>
	</div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjQbpLmWtP5SBJQ6RWzplfIg0Sd0rpDYg&libraries=places&callback=initAutocomplete"></script>

<script>
	function initAutocomplete() {
		const locationInput = document.getElementById("locationInput");
		const countryInput = document.getElementById("country");
		const cityInput = document.getElementById("city");
		const stateInput = document.getElementById("state");
		const postalCodeInput = document.getElementById("postalCode");
		const addressInput = document.getElementById("address");

		// Create the autocomplete object
		const autocomplete = new google.maps.places.Autocomplete(locationInput);

		// Event listener when a place is selected
		autocomplete.addListener("place_changed", function () {
			const place = autocomplete.getPlace();

			// Clear the previous values
			countryInput.value = "";
			cityInput.value = "";
			stateInput.value = "";
			postalCodeInput.value = "";
			addressInput.value = "";

			// Set the new values
			for (const component of place.address_components) {
				const componentType = component.types[0];

				if (componentType === "country") {
					countryInput.value = component.long_name;
				} else if (componentType === "locality" || componentType === "administrative_area_level_2") {
					cityInput.value = component.long_name;
				} else if (componentType === "administrative_area_level_1") {
					stateInput.value = component.long_name;
				} else if (componentType === "postal_code") {
					postalCodeInput.value = component.long_name;
				}
			}

			addressInput.value = place.formatted_address;
		});
	}

	// Load the Google Maps API and initialize the autocomplete
	function loadScript() {
		const script = document.createElement("script");
		script.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyAjQbpLmWtP5SBJQ6RWzplfIg0Sd0rpDYg&libraries=places&callback=initAutocomplete";
		script.defer = true;
		script.async = true;
		document.body.appendChild(script);
	}

	// Call the loadScript function to load the API and initialize
	loadScript();
</script>
<script>
	$(function () {
		var value = $("#current_customer").val();
		$.ajax({
			type: "GET",
			url: "/customer_bill_address?id=" + value,
			success: function (data, status, xhr) {
				$("#bill_to").html(data);

				var tempElement = document.createElement("bill_to");
				tempElement.innerHTML = data;
				var customerName = $(tempElement).find("#customer_name").text();

				$("#bill_to_name").val(customerName);
			},
		});
	});
</script>
<script>
	$(function () {
		$(".select2-js").select2();

		// Start counting from the third row
		var table = document.getElementById("order_table");
		var tbodyRowCount = table.tBodies[0].rows.length; // 3
		var counter = tbodyRowCount;
		var itemlist = "";

		$("#insertRow").on("click", function (event) {
			var item_counter_list = $("#item_counter_list").val();
			itemList = getItemAsList(item_counter_list);
			//var item_array = item_counter_list.split(",");
			event.preventDefault();

			var newRow = $("<tr>");
			var cols = "";

			// Increase counter after each row insertion
			counter++;
			// Table columns
			$("#item_counter").val(counter);
			itemList.push(counter);

			cols += `<td class="px-6 w-[1%] py-4 whitespace-nowrap">${counter}</td>
	         <td class="px-6 w-64 py-4 whitespace-nowrap">
	           <select id="product_${counter}" class="product-select bg-white border-lg text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 select2-js custom-select" name="product_${counter}" onchange="populateItemDetails(this.value,this.name)">
				<option value="0">Select a Product</option>
	             <!-- Products options will be dynamically generated by Flask -->

	             {% for product in products %}
	             <option value="{{ product.id }}">{{ product.name }}</option>

	             {% endfor %}
	           </select>
			<input type="hidden" name="product_code_hidden_${counter}" id="product_code_hidden_${counter}" value="" required/>
	         </td>

	         <td class="px-6 py-4 whitespace-nowrap" id="descriptionCell">
	           <input name="item_desc_${counter}" class="border-none" id="item_desc_${counter}" disabled required/>
	           <input type='hidden' name="item_desc_hidden_${counter}" id="item_desc_hidden_${counter}"/>
	         </td>

	         <td class="px-6 py-4 whitespace-nowrap">
	           <input type="number" class="quantity-input w-20 text-gray-900 bg-white rounded-lg border-none" min="1" value="0" name="item_quantity_${counter}" id="item_quantity_${counter}" onchange="calculateItemTotal(this.name)" required/>
	         </td>
	         <td class="px-6 py-4 whitespace-nowrap">
	           <input type="text" class="quantity-input text-gray-900 bg-white rounded-lg w-20 border-none" name="unit_price_${counter}" id="unit_price_${counter}" disabled required/>
	           <input type="hidden" name="unit_price_hidden_${counter}" id="unit_price_hidden_${counter}"/>
	         </td>
	         <td class="px-6 py-4 whitespace-nowrap">
	           <select class="discount-type-select bg-white border-lg text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-16 p-2.5 border-none" name="discount_type_${counter}" id="discount_type_${counter}" onchange="calculateItemTotal(this.name)" required>
	             <option value="percentage">%</option>
	             <option value="amount">$</option>
	           </select>
	         </td>
	         <td class="px-6 py-4 whitespace-nowrap">
	           <input type="number" class="discount-input w-24 text-gray-900 bg-white rounded-lg border-none" min="0" value="0" name="discount_val_${counter}" id="discount_val_${counter}" oninput="calculateItemTotal(this.name)" required/>
	         </td>
	         <td class="px-6 py-4 whitespace-nowrap">
	           $<input type="number" class="amount-input rounded-lg text-gray-900 bg-white w-28 border-none" min="0" value="" name="sub_total_${counter}" id="sub_total_${counter}" disabled required/>
	           <input type="hidden" min="0" value="" name="sub_total_hidden_${counter}" id="sub_total_hidden_${counter}"/>
	         </td>
	         <td class="px-6 py-4 whitespace-nowrap text-center">
	           <button id="deleteRow_${counter}" class="delete-row-button" onclick="remove_order_item(this.id)">
	             &#10005;
	           </button>
	         </td>`;
			// Insert the columns inside a row
			newRow.append(cols);
			// Insert the row inside a table
			$("#order_table").append(newRow);
			$("#item_counter_list").val(itemList);
			$(".select2-js").select2();
		});
	});

	function getItemAsList(string) {
		return string.toString().split(",");
	}

	function removeFromArray(array, item) {
		var index = array.indexOf(item);
		if (index > -1) {
			// only splice array when item is found
			array.splice(index, 1); // 2nd parameter means remove one item only
		}
		return array;
	}

	// Remove Item
	function remove_order_item(value) {
		var itemList = getItemAsList($("#item_counter_list").val());
		var row_num = value.split("_").slice(-1)[0];
		var counter = $("#item_counter").val();
		$("#deleteRow_" + row_num)
			.closest("tr")
			.remove();
		counter -= 1;
		$("#item_counter").val(counter);
		itemList = removeFromArray(itemList, row_num);
		$("#item_counter_list").val(itemList);
		//calculate_total();
	}

	function showShipTo(value) {
		$.ajax({
			type: "GET",
			url: "/get_ship_to_details?id=" + value,
			success: function (data, status, xhr) {
				$("#ship_to").html(data);
			},
		});
		var ship_to_data = $("#ship_to").val();

		var selectShipTo = document.getElementById("ship_to_");
		var selectedValue = selectShipTo.value;
		$("#ship_to_hidden").val(selectedValue);
	}

	function toggleDivVisibility() {
		const div1 = document.getElementById("bill_to");
		const div2 = document.getElementById("ship_to");
		const otherDiv = document.getElementById("otherdiv");

		div1.classList.toggle("hidden");
		div2.classList.toggle("hidden");
		otherDiv.classList.toggle("h-[240px]");
	}

	// Add a click event listener to the button
	document.getElementById("dropdownDefaultButton").addEventListener("click", toggleDivVisibility);
</script>

<script>
	// Populate Each Item/Product Details
	function populateItemDetails(value, name) {
		var row_num = name.split("_").slice(-1)[0];
		$.ajax({
			type: "GET",
			url: "/get_item_details?id=" + value,
			success: function (data, status, xhr) {
				$("#item_desc_" + row_num).val(data.description);
				$("#item_desc_hidden_" + row_num).val(data.description);
				$("#unit_price_" + row_num).val(data.price);
				$("#unit_price_hidden_" + row_num).val(data.price);
				// alert(data.product_code)
				$("#product_code_hidden_" + row_num).val(data.name);

				calculateItemTotal(name);
			},
		});
	}

	// Calculate Each Item Total
	function calculateItemTotal(name) {
		var row_num = name.split("_").slice(-1)[0];
		quantity = parseInt($("#item_quantity_" + row_num).val());
		unit_price = $("#unit_price_" + row_num).val();
		sub_total = quantity * unit_price;

		// Also calculate discount
		discount_type = $("#discount_type_" + row_num).val();
		discount_val = $("#discount_val_" + row_num).val();

		if (discount_type == "percentage") {
			sub_total = sub_total - (discount_val * sub_total) / 100;
		} else if (discount_type == "amount") {
			sub_total = sub_total - discount_val;
		}
		// Calculate Sub Total
		sub_total = parseFloat(sub_total).toFixed(2);
		$("#sub_total_" + row_num).val(sub_total);
		$("#sub_total_hidden_" + row_num).val(sub_total);
		calculate_subtotal();
		calculate_subtotal_discount();
		handleCustomer();
	}

	function calculate_subtotal() {
		var item_counters = $("#item_counter").val();
		var item_counter_list = $("#item_counter_list").val();
		var itemList = getItemAsList(item_counter_list);

		total = 0;
		for (i = 0; i < item_counters; i++) {
			var item = itemList[i];
			if (item === undefined) {
			} else {
				sub_total = $("#sub_total_" + item).val();
				total = parseFloat(total) + parseFloat(sub_total);
			}
		}
		total = parseFloat(total).toFixed(2);
		$("#grand_total").val(total);
		$("#grand_total_hidden").val(total);
	}

	function calculate_subtotal_discount() {
		// Also calculate discount
		discount_type = $("#discount_type_total").val();
		discount_val = $("#discount_val_total").val();
		shipping = $("#ship_total").val();
		shipping = parseFloat(shipping);

		grand_total = $("#grand_total").val();

		if (discount_type == "percentage") {
			net_total = grand_total - (discount_val * grand_total) / 100;
			percentage_change = (discount_val / 100) * grand_total;
		} else if (discount_type == "amount") {
			net_total = grand_total - discount_val;
			percentage_change = discount_val;
		}

		if (shipping > 0) {
			net_total = net_total + shipping;
		}

		grand_discount = parseFloat(percentage_change).toFixed(2);
		$("#grand_discount").val(grand_discount);
		$("#grand_discount_hidden").val(grand_discount);

		net_total = parseFloat(net_total).toFixed(2);
		$("#net_total").val(net_total);
		$("#net_total_hidden").val(net_total);
	}
</script>

<!-- For creating customer -->
<script>
	$("#add_customer_btn").on("click", function (e) {
		e.preventDefault();
		var first_name = $("#floating_first_name").val();
		var last_name = $("#floating_last_name").val();
		var email = $("#email").val();
		var company = $("#company").val();
		var phone = $("#floating_phone").val();
		var location = $("#locationInput").val();
		var country = $("#country").val();
		var address1 = $("#address").val();
		var address2 = $("#address").val();
		var city = $("#city").val();
		var state = $("#state").val();
		var postcode = $("#postalCode").val();
		var is_wholesale = $("#default-checkbox").is(":checked") ? 1 : 0;
		if (first_name === "" || last_name === "" || email === "" || company === "" || phone === "" || location === "" || country === "" || address1 === "" || city === "" || state === "" || postcode === "") {
			alert("Please fill in all the required fields.");
			return;
		}
		var requestData = {
			first_name: first_name,
			last_name: last_name,
			email: email,
			company: company,
			phone: phone,
			location: location,
			country: country,
			address1: address1,
			address2: address2,
			city: city,
			state: state,
			postcode: postcode,
			is_wholesale: is_wholesale,
		};

		$.ajax({
			url: "/save-customer",
			data: JSON.stringify(requestData),
			contentType: "application/json",
			method: "POST",
			success: function (data) {
				var close_button = document.getElementById("modal-backdrop");
				close_button.click();
				console.log(data);

				$("#current_customer").append('<option value="' + data.id + '" selected>' + data.first_name + " " + data.last_name + "</option>");
				$("#current_customer_hidden").val(data.id);
			},
			error: function (xhr, textStatus, error) {
				console.log(xhr.responseText);
				// Handle the error here
			},
		});
	});
</script>
<script>
	function handleCustomer(value) {
		$.ajax({
			type: "GET",
			url: "/customer_bill_address?id=" + value,
			success: function (data, status, xhr) {
				$("#bill_to").html(data);

				var tempElement = document.createElement("bill_to");
				tempElement.innerHTML = data;
				var customerName = $(tempElement).find("#customer_name").text();

				$("#bill_to_name").val(customerName);
			},
		});
		var selectCustomer = document.getElementById("current_customer");
		var selectedValue = selectCustomer.value;
		$("#current_customer_hidden").val(selectedValue);
	}

	function validateForm(e) {
		// var row_num = name.split("_").slice(-1)[0];
		// alert(row_num);
		var selectCustomer = document.getElementById("current_customer");
		var selectedValue = selectCustomer.value;

		var item_counters = $("#item_counter").val();
		for (row_num = 1; row_num <= item_counters; row_num++) {
			var selectElement = document.getElementById("product_" + row_num);
			var selectedOption = selectElement.value;

			if (selectedOption === "" || selectedOption == 0 || selectedValue === "") {
				alert("Please select an option.");
				e.preventDefault();
				return false;
			}
		}
	}
</script>

{% endblock %}
