<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
	</head>
	<body class="">
		{% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
		<div class="p-4 mb-4 text-sm text-green-800 rounded-lg text-green-400" role="alert">{{ message }}</div>
		{% endfor %} {% endif %} {% endwith %}

		<div class="flex items-center justify-center border-gray-100 h-screen">
			<div class="md:w-[30%] w-[400px] h-[400px] bg-white shadow-2xl rounded-lg">
				<div class="font-extrabold leading-9 tracking-widest w-full mx-auto p-2 text-center hover:underline hover:text-blue-600">Login</div>
				<form action="" method="POST" class="">
					<div class="flex flex-col p-6 gap-y-2">
						<label for="username" class="tracking-wider font-semibold">Username</label>
						<input type="text" placeholder="Username" name="username" class="rounded-lg border-2 text-lg" />

						<label for="password" class="tracking-wider font-semibold">Password</label>
						<input type="password" placeholder="Password" name="password" class="rounded-lg border-2 text-lg" />
						<button class="bg-gray-300 rounded-lg h-16 mt-4 hover:bg-gray-500 font-bold">Login</button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
